#title{
    background-color: #FF5D5D;
    color:#fff;
    
}
body{
    font-family: "Montserrat";
}
.container-fluid{
  padding:3% 15% 7%;
}
h1{
    font-family: "Montserrat";
    font-size: 5rem;
    line-height: 3;
    
}
h2{
    font-family: "Montserrat";
    
   
   
}
h3{
    font-family: Montserrat;
}
p{
  
}
.tt1{
    text-align: center;
    padding-top: 11%;
    
}
.tt2{
    text-align: center;
    position: absolute;
    right: 4%;
   
}
.hh1{
    z-index: 1;
}
#logoin{
    margin-left: 5%;
    line-height: 3;
    font-size: 2rem;
}

/* navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;

}
.navbar-nav{
    /* margin-right: 5%; */
}
.nav-item{
    margin: 0 18px;
    font-size: 1.1rem;
    font-weight: lighter;
}
.nav-link{
    
    font-family: Ubuntu;
}

/* download buttons */

.donl{
    margin:5% 3% 5% 0%;
    text-decoration: none;
}
.dnlbtntxt{
    text-decoration: none;
    color: #fff;
}
/* features */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
 
}
.feature-box{
    text-align: center;
    padding:7%;
    width: 1%;
    
}
.feat{
    
}
.iconcv{
    color: #36AE7C;
    margin-bottom: 3rem;
}
.iconcv:hover{
    color: #FF5D5D;
}

/* testimonial section */
#testimonials{
    
    text-align: center;
    background-color: #FF5D5D;
    color: #fff;
    
}
.testimonial-text{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    width: 65%;
    margin-left: 150px;
   
}
.testim-imag{
    border-radius: 90%;
    width: 20%;
    
    
}
.carousel-item{
    padding:7% 15%;
}
#press{
    background-color: #FF5D5D;
    text-align: center;
    padding-bottom: 3%;
}
.pressimg{
    width:10%;
    margin: 20px 20px 50px;
}
.ttc{
    
}
/* Pricing section */
#pricing{
    padding:100px;
    text-align: center;
    font-family: Ubuntu;
}
.pricing-column{
    padding: 3% 2%;
}
.card-body:hover{
         background-color: #EEEEEE;
}

/* Call to Action Section */
#cta{
    text-align: center;
    background-color: #FF5D5D;
    padding-top: 5%;
    line-height: 1.3rem;
    
}

.ctatxt{
    font-family: Montserrat;
    font-size: 2rem;
}

/* Footer Section */
#footer{
    text-align: center;
    height: 8rem;
    padding-top: 5%;
}
.flogo{
    text-decoration: none;
    color: #afafaf;
    
}


@media(max-width:992px) {
    .tt1{
        text-align: center;
        padding-top: 11%;
    }

    .tt2{
    text-align: center;
    position: static;
   
}
#title{
    background-color: #FF5D5D;
    color:#fff;
    padding-bottom: 10%;

}
   
.testimonial-text{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    /* width: 80%; */
  margin-right: 0.2rem;
}
.carousel-item{
    padding:7% 5%;

}
.row{
    size: 100vh;
}
}